%div= "#{country.player.name}"

- if @attacking_country.id == country.id
  .form
    %div.attacker{ id: country.id, style: "background-color: #{country.player.color};" }
      %input{ id: "troops", name: "troops", type: "number", min: 1, max: @select_troops, step: 1, value: @select_troops }

- else
  - if country.player.active? && country.army.size > 1
    %a(href="/select_attacking_troops?game=#{params[:game]}&country_id=#{country.id}")
      %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"

  - elsif country.player.active? && country.army.size == 1
    %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"

  - elsif @attacking_country && @attacking_country.countries.include?(country)
    %div.army.target{ id: country.id, style: "background-color: #{country.player.color};", "data-no-turbolink" => "true" }
      .form
        %input{name: "country_id[#{country.id}]", type: "submit", value: country.army.size }

  - else
    %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"

%div= "#{country.name.split("_").join(" ")}"
