- if country.player.active?
  %a{"data-method" => "post", href: "/draft_troops?game=#{params[:game]}&country_id=#{country.id}", rel: "nofollow"}
    .army.target{ id: country.id, style: "background-color: #{country.player.color};" }
      = "#{country.army.size}"

- else
  = render "country_default", country: country
