%div= "#{country.player.name}"

- if @distributing_country && @distributing_country.id == country.id
  .form
    %div.attacker{ id: country.id, style: "background-color: #{country.player.color};" }
      %input{ id: "troops", name: "troops", type: "number", min: 1, max: @troops_to_move, step: 1, value: @troops_to_move }

- elsif @distributing_country && @distributing_country.countries.include?(country) && @distributing_country.player.id == country.player.id
  %div.army.target{ id: country.id, style: "background-color: #{country.player.color};" }
    .form
      %input{name: "country_id[#{country.id}]", type: "submit", value: country.army.size }

-else
  - if country.player.active? && country.army.size > 1
    %a(href="/show_nearby_friends?game=#{params[:game]}&country_id=#{country.id}")
      %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"

  - elsif country.player.active? && country.army.size == 1
    %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"

  - else
    %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"

%div= "#{country.name.split("_").join(" ")}"
