- if @distributing_country && @distributing_country.id == country.id
  = render "country_select_troops", country: country, troops: @troops_to_move

- elsif @distributing_country && @distributing_country.countries.include?(country) && @distributing_country.player.id == country.player.id
  = render "country_submit_target", country: country

-else
  - if country.player.active? && country.army.size > 1
    %a(href="/show_nearby_friends?game=#{params[:game]}&country_id=#{country.id}")
      = render "country_default", country: country

  - elsif country.player.active? && country.army.size == 1
    = render "country_default", country: country

  - else
    = render "country_default", country: country
