- if @attacking_country.id == country.id
  = render "country_select_troops", country: country, troops: @select_troops

- else
  - if country.player.active? && country.army.size > 1
    %a(href="/show_nearby_enemies?game=#{params[:game]}&country_id=#{country.id}")
      = render "country_default", country: country

  - elsif country.player.active? && country.army.size == 1
    = render "country_default", country: country

  - elsif @attacking_country && @attacking_country.countries.include?(country)
    = render "country_submit_target", country: country

  - else
    = render "country_default", country: country
