%div= "#{country.player.name}"
- if country.player.active?
  %a(href="#")
    %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"
- else
  %div.army{ id: country.id, style: "background-color: #{country.player.color};" }= "#{country.army.size}"
%div= "#{country.name.split("_").join(" ")}"
